
.home-body{
    display: grid;
    grid-template-columns: 1fr 400px
}

.home{
    border: 4px solid rgb(92, 90, 90);
    margin-left: 10px;
}
.aside{
    border: 4px solid rgb(92, 90, 90);
    margin-right: 10px;
}